.flex-meal-container {
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    justify-content: space-evenly;

}

.flex-meal-cart {
    margin: 3%;
    background: whitesmoke;
    padding: 8px;
    color: black;
    border-radius: 10px;
}

img {
    width: 200px;
    border-radius: 10px;
    height: 150px;
}