a {
    text-decoration: none;
    color:rgb(215, 229, 18);
}

.header-nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.flex-nav {
    display:flex;
    justify-content: space-between;
    background: rgba(6, 8, 48, 0.967);
    align-items: center;
    padding: 20px 20px 20px 20px;  
}

.flex-header {
    flex: 1 1 25%;
    padding: 0;
    margin: 0;
    color: rgb(215, 229, 18);
}

.flex-list {
    flex: 4 4 50%; 
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin:0;
    padding:0;
    font-size: 18px;
}

.flex-span {
    flex: 1 1 25%;
    text-align: right;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-button {
    padding: 13px;
    background:  rgb(215, 229, 18);
    font-size: 13px;
    border: none;
    border-radius: 10px;
}