a {
    text-decoration: none;
    color:rgb(215, 229, 18);
}

.flex-nav {
    display:flex;
    justify-content: space-between;
    background: darkblue;
    align-items: center;
    padding: 20px 20px 20px 20px;  
}

.flex-header {
    flex: 1 1 25%;
    padding: 0;
    margin: 0;
    color: rgb(215, 229, 18)
}

.flex-list {
    flex: 4 4 50%; 
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin:0;
    padding:0;
}

.flex-span {
    flex: 1 1 25%;
    text-align: right;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-button {
    padding: 13px;
    background:  rgb(215, 229, 18);
    font-size: 13px;
    border: none;
    border-radius: 10px;
}