.sections-container {
    padding: 0 15% 0 15%;
    background: url(C:\Users\Oscar\Documents\React-Projects\conference-expenses-planner\src\components\images\GCJRhiA.png);
    margin-top: 81.2px;
}

.venue-section {
    padding: 0;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.h1-section {
    padding: 9px;
    background: rgba(65, 69, 139, 0.437);
    color: rgb(215, 229, 18);
    width: 50%;
}

.p-total-amount {
    padding: 9px;
    background: whitesmoke;
    width: 20%;
    font-size: large;
}

