.hide-details {
    display: none;
}

.show-details {
    position: fixed;
    background: white;
    padding: 0;
    left: 30%;
    top: 30%;
    right: 30%;
    bottom: 30%;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.314);
    border-radius: 15px;
    z-index: 1;
}

.show-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-image: url(C:\Users\Oscar\Documents\React-Projects\conference-expenses-planner\src\components\images\GCJRhiA.png);
    height: 94%;
    border-radius: 15px;
    border: solid 1px rgba(245, 245, 245, 0.462);
}

table {
    border: solid 1px black;
    border-collapse: collapse;
    width: 100%;
}

th {
    color: rgb(215, 229, 18);
    background-color: rgba(0, 0, 0, 0.629);
}

tr, th, td {
    border: solid 1px black;
    border-collapse: collapse;
    
}

.details-h1 {
    margin: 0 0 10px 0;
    color: rgb(215, 229, 18);
}

.details-btn {
    width: 20%;
    margin-top: 15px;
    background: rgb(215, 229, 18);;
}

.highlighted-header-row {
    background-color: rgb(105, 105, 105);
}

.regular-row {
    background-color: white;
}

.highlighted-regular-row {
    background-color: rgb(105, 105, 105);
    color: whitesmoke
}

.div-overflow {
    overflow-y: scroll;
    height: 150px;
    text-align: center;
}